// レイアウト幅
$layout-width-canvas: 1280px;
$layout-width-inner: 1200px;

// ブレークポイント
$breakpoints: (
	"sp-down": "(max-width: 767px)",
	"sp-up": "(min-width: 768px)",
	"tab-down": "(max-width: #{$layout-width-inner - 1px})",
	"tab-up": "(min-width: #{$layout-width-inner})",
	"retina": "only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)",
);

// メディアクエリー
@mixin mq($breakpoint: sp) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}

.footer {
    background-color: #3E3E3E;
    
    @include mq('sp-up') {
        padding: 60px 160px;
    }

    @include mq('sp-down') {
        padding: 20px 40px;
    }
    &__inner {
        
        @include mq('sp-up') {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    
        @include mq('sp-down') {
            width: 100%;
            display: block;
            text-align: center;
        }
        .icon__wrap {
            display: flex;
            color: #E3E3E3;
            font-size: 32px;
            margin-bottom: 40px;
            opacity: .6;
        }
        .fa-twitter {
            margin-right: 32px;
        }
    }
    &__list {
        color: #E3E3E3;
        font-size: 1rem;
        letter-spacing: .4px;
    }
    &__item {
        &:not(:first-child) {
            margin-top: 24px;
        }
    }
    &__ttl {
        color: #E3E3E3;
        font-size: 40px;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        margin-bottom: 10px;
    }
    &__copy {
        text-align: right;
        color: #E3E3E3;
        opacity: .6;
    }
}