
// フォント
$font-family-default: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Droid Sans", sans-serif;
$font-family-english: "Montserrat", sans-serif;

// レイアウト幅
$layout-width-canvas: 1280px;
$layout-width-inner: 1200px;

// ブレークポイント
$breakpoints: (
	"sp-down": "(max-width: 767px)",
	"sp-up": "(min-width: 768px)",
	"tab-down": "(max-width: #{$layout-width-inner - 1px})",
	"tab-up": "(min-width: #{$layout-width-inner})",
	"retina": "only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)",
);

// メディアクエリー
@mixin mq($breakpoint: sp) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}
body {
    background-color: #F3F3F3;
    max-width: $layout-width-canvas;
}

.util-ttl {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
      font-weight: 600;
  
      @include mq('sp-up') {
          font-size: 36px;
      }
  }
  
  .util-linkBox {
      @include mq('sp-down') {
          text-align: center;
      }
  }
  
  .util-link {
    border: solid 1px #3e3e3e;
    color: #3e3e3e;
    display: block;
    font-family: $font-family-english;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.2em;
    padding: .8em 0;
    position: relative;
    text-align: center;
    -webkit-transition: background-color .2s, color .2s;
    transition: background-color .2s, color .2s;
  
    &.mod-light {
      border-color: #fff;
      color: #fff;
      }
  
      @include mq('sp-up') {
          &.mod-light:hover {
        background: #fff;
        color: #3e3e3e;
      }
  
      &:hover {
        background: #3e3e3e;
        color: #fff;
      }
      }
  
      @include mq('sp-down') {
          font-size: 1.8rem;
          margin: 0 auto;
          max-width: 268px;
          padding-top: 13px;
          padding-bottom: 13px;
      }
  }
  

.about {
    height: 648px;
    background-image: url(../img/mv-min.png);
    background-size: cover;
    position: relative;
    &__inner {
        width: 50%;
        height: 275px;
        position: absolute;
        top: 236px;
        left: 590px;
    }
    &__text {
        padding-left: 50px;
    }
    &__ttl {
        font-weight: bold;
        font-size: 32px;
        color: #3E3E3E;
        line-height: 1.5;
        padding-bottom: 40px;
    }
    &__body {
        font-weight: bold;
        font-size: 18px;
        line-height: 1.5;
        color: #3E3E3E;
        padding-bottom: 40px;
    }
}

.news {
    padding: 120px 40px;
    &__inner {
        width: 100%;
        background-color: #fff;
        box-shadow: 0 2px 4px gray;
    }
    &__ttl {
        font-size: 36px;
        color: #3E3E3E;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        line-height: 1.2;
        padding: 60px 0;
    }
    &__list{
        padding: 0 60px;
      }
    &__item{
        display: flex;
        padding:15px;
        position: relative;
        border-bottom:1px solid #3e3e3e;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        color: #3E3E3E;
        &:first-child {
            border-top:1px solid #3e3e3e;
        }
      }
      
    &__day{
        line-height: 1.4;
        font-weight: normal;
      }
    &__label{
        border: 2px solid #3B69FF;
        border-radius: 50px;
        padding: 8px 32px;
        margin: 8px 32px;
      }
    &__text{
        line-height: 1.5;
    }
    &__arrow {
        position: absolute;
        right: 60px;
    }
    &__btn {
          padding: 40px;
          text-align: center;
          color: #3E3E3E;
       }
}

.service {
    padding: 0 120px;
    width: 100%;
    height: 400px;
    background-color: #3E3E3E;
    &__inner {
        position: relative;
    }
    &__ttl{
        font-size: 36px;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        line-height: 1.2;
        padding: 60px 0;
    }
    &__list{
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        top: 150px;
        box-shadow: 0 2px 4px gray;
    }
    &__item {
        padding: 60px 45px;
        text-align: center;
        img {
            width: 64px;
            height: 64px;
        }
        &__ttl {
            padding: 8px 0 20px;
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            color: #3E3E3E;
            letter-spacing: 2px;
        }
        &__body {
            font-size: 14px;
            color: #3e3e3e;
            letter-spacing: 1.5px;
            line-height: 1.5;
        }
    }
}

.results {
    background: #3e3e3e;
    margin: 58px 0 0 0;
    max-width: calc(50vw + 600px);
      padding: 40px 0 40px 16px;
  
      @include mq('sp-up') {
          margin: 215px 0 0 auto;
          padding: 58px 0 60px 60px;
      }
  
      @include mq('sp-down') {
          padding-top: 36px;
          margin-top: 60px;
      }
  
    .util-ttl {
          color: #fff;
  
          @include mq('sp-down') {
              text-align: center;
              padding-right: 16px;
          }
    }
  
    .util-linkBox {
          margin: 40px 16px 0 0;
  
          @include mq('sp-up') {
              margin: 42px 0 0 0;
          }
  
          @include mq('sp-down') {
              margin: 24px 16px 0 0;
          }
      }
  
      .util-link {
          @include mq('sp-up') {
              max-width: 290px;
          }
  
          @include mq('sp-down') {
              width: 316px;
              max-width: 100%;
          }
      }
  }
  
  .results-container {
      margin-top: 36px;
  
      @include mq('sp-up') {
          margin-top: 54px;
      }
  }
  
  .results-pagination {
      position: static !important;
  
      @include mq('sp-up') {
          margin: 44px 0 0 -5px;
          text-align: left;
      }
  
      @include mq('sp-down') {
          margin-top: 30px;
      }
  
    .swiper-pagination-bullet {
      background: #fff;
      height: 12px;
      margin: 0 10px !important;
      opacity: 1;
      position: relative;
      width: 12px;
  
      &:focus {
        outline: none;
      }
  
      &.swiper-pagination-bullet-active:after {
        border: solid 1px #fff;
        border-radius: 50%;
        content: '';
        display: block;
        height: 20px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
      }
    }
  }
  
  .results-itemLink {
    background: #fff;
    color: #3e3e3e;
      display: block;
  
      @include mq('sp-up') {
          transition: opacity .2s;
  
          &:hover {
              opacity: .7;
          }
      }
  }
  
  .results-itemLinkInner {
    padding: 12px 16px 20px;
  
      @include mq('sp-down') {
          padding: 12px 12px 8px;
      }
  }
  
  .results-itemFig {
      img {
          width: 100%;
      }
  }
  
  .results-itemTtl {
    font-size: 20px;
    font-weight: 700;
  
      @include mq('sp-down') {
          font-size: 1.4rem;
      }
  }
  
  .results-itemTxt {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 6px;
  
      @include mq('sp-down') {
          font-size: 1.2rem;
      }
  }

  .price {
      padding: 60px 160px;
      &__ttl {
        font-size: 36px;
        color: #3E3E3E;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        line-height: 1.2;
        padding: 60px 0;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        th {
            width: 30%;
            padding: 30px;
            text-align: center;
            color: #fff;
            background-color: #3e3e3e;
            min-width: 300px;
            border: 1px solid #3e3e3e;
            border-bottom: 1px solid #fff;
            align-items: center;
            font-size: 24px;
            font-family: $font-family-english;
            &:last-child {
                border-bottom: 1px solid #3e3e3e;
            }
        }
        td {
            width: 70%;
            padding: 30px;
            border: 1px solid #3e3e3e;
            font-weight: bold;
            font-size: 24px;
            font-family: $font-family-english;
        }
    }
    span {
        padding-top: 12px;
        font-size: 12px;
        letter-spacing: 2px;
    }
  }

  .comments {
      position: relative;
      &__inner {
            padding-left: 40px;
            padding-bottom: 120px;
        }
        &__ttl {
            font-size: 36px;
            color: #3E3E3E;
            font-family: 'Montserrat', sans-serif;
            text-align: left;
            line-height: 1.2;
            padding-bottom: 60px;
        }
        &__list__wrapper {
          align-items: center;
          display: flex;
          padding-top: 100px;
        }
        
        &__list {
            background-color: #fff;
            padding: 120px 40px 60px 60px;
            box-shadow: 0 2px 4px gray;
            }
        &__item {
            display: flex;
            align-items: center;
            padding-bottom: 60px;
                img {
                    padding-right: 32px;
                }
            }
            &__body {
                font-size: 16px;
                letter-spacing: -1px;
                line-height: 1.5;
                color: #3e3e3e;
            }
        &__img {
            width: 534px;
            }
        &__bg {
            position: absolute;
            background-color: #3e3e3e;
            bottom: 0;
            height: 500px;
            width: 960px;
            z-index: -999;
        }
  }

  .qa {
    background-image: url(../img/qa-bg-min.png);
    background-size: cover;
    height: 925px;
    padding: 0 40px 120px 0;
    position: relative;
    &__ttl {
        font-size: 36px;
        color: #3E3E3E;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        line-height: 1.2;
        padding: 60px 0;
    }
    &__list {
        width: 50%;
        position: absolute;
        right: 0;
        margin-right: 32px;
    }
    &__item {
        border-radius: 4px;
        padding: 16px;
        background-color: #fff;
        margin-bottom: 32px;
        &__inner {
            align-items: center;
            display: flex;
            position: relative;
        }
        span {
            background-color: #3B69FF;
            color: #fff;
            border-radius: 999px;
            padding: 3px 6px 3px 5px;
            margin-right: 16px;
            font-size: 1rem;
        }
    }
    &__acd {
        position: absolute;
        right: 0;
    }
    .acd__ans {
        padding: 16px;
        background: rgba(73, 115, 255, 0.2);;
        border-radius: 4px;
        margin-top: 16px;
    }
  }
  
  .access {
      position: relative;
      height: 760px;
      &__info {
          position: absolute;
          top: 0;
          left: 0;
          padding-left: 100px;
          background-color: #3E3E3E;
          width: 980px;
          color: #fff;
      }
      &__ttl {
        font-weight: bold;
        font-size: 32px;
        color: #fff;
        line-height: 1.5;
        padding-top: 100px;
        padding-bottom: 40px;
      }
      &__row {
          letter-spacing: 2px;
          font-size: 1rem;
          font-weight: $font-family-default;
          line-height: 1.5;
      }
      &__btn {
          margin-top: 32px;
          margin-bottom: 120px;
          padding: 20px 80px;
          font-weight: $font-family-english;
          font-size: 20px;
      }
      &__map {
          
          .iframe__wrap {
              position: absolute;
              bottom: 120px;
              right: 40px;
              max-width: 100%;
          }
      }
  }

  .contact-us {
      background-image: url(../img/contact-bg-min.png);
      background-size: cover;
      width: 100%;
    //   height: 1122px;
      padding: 60px 120px;
      &__wrap {
          background-image: url(../img/contact1-min.png);
          background-size: cover;
          text-align: center;
          padding: 60px 0;
      }
      &__head{
        font-size: 36px;
        color: #fff;
        font-family: $font-family-english;
        line-height: 1.2;
        padding-bottom: 16px;
      }
      &__head__txt {
          color: #fff;
          font-size: 1rem;
      }
  }

  .contact__form {

    }

    .contact-form {
        margin: auto 0;
        background-color: #fff;
        padding: 60px 120px;
        border-radius: 0 0 12px 12px;

        .contact-form__dl {

        }

        .contact-from__row {
            display: flex;
            // align-items: center;

            &:not(:first-child) {
                margin-top: 32px;
            }
        }

        .contact-form__label {
            width: calc(100% - 188px);
            padding-top: 5px;
            label {
                font-weight: bold;

                &.is-required {
                    display: inline-block;
                    position: relative;

                    &::after {
                        content: "必須";
                        margin-left: 12px;
                        font-size: 14px;
                        background-color: #FF4646;
                        color: #fff;
                        border-radius: 2px;
                        text-align: center;
                        padding: 4px 16px;
                    }
                }
            }
        }

        .contact-form__input {
            
        }
        input[type="text"],
        input[type="email"] {
            border-bottom: 1px solid #c5cadb;
            padding-left: 12px;
            padding-bottom: 5px;
            width: 532px;
            height: 32px;
        }
        
        select {
            border: 1px solid #707070;
            height: 40px;
            width: 178px;
        }

        textarea {
            border: 1px solid #707070;
            width: 720px;
            height: 200px;
        }

        .contact-from__radio {
            margin-right: 40px;
            
        }

        .contact-form__radio {
            [type="radio"] {
                padding-right: 8px;
            }
        }

        .contact-form__check {
            margin-top: 41px;
            margin-bottom: 41px;
            font-size: 18px;
            font-weight: bold;
            color: #3E3E3E;
            [type="checkbox"] {
                margin-right: 20px;
                width: 20px;
                height: 20px;
            }
        }

        .contact-form__button {
            [type="submit"] {
                
            }
        }
  }