body {
    background-color: #F3F3F3;
}

.about {
    height: 648px;
    background-image: url(../img/mv-min.png);
    background-size: cover;
    position: relative;
    &__inner {
        width: 50%;
        height: 275px;
        position: absolute;
        top: 236px;
        left: 590px;
    }
    &__text {
        padding-left: 50px;
    }
    &__ttl {
        font-weight: bold;
        font-size: 32px;
        color: #3E3E3E;
        line-height: 1.5;
        padding-bottom: 40px;
    }
    &__body {
        font-weight: bold;
        font-size: 18px;
        line-height: 1.5;
        color: #3E3E3E;
        padding-bottom: 40px;
    }
}

.news {
    padding: 120px 40px;
    &__inner {
        width: 100%;
        background-color: #fff;
        box-shadow: 0 2px 4px gray;
    }
    &__ttl {
        font-size: 36px;
        color: #3E3E3E;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        line-height: 1.2;
        padding: 60px 0;
    }
    &__list{
        padding: 0 60px;
      }
    &__item{
        display: flex;
        padding:15px;
        position: relative;
        border-bottom:1px solid #3e3e3e;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        color: #3E3E3E;
        &:first-child {
            border-top:1px solid #3e3e3e;
        }
      }
      
    &__day{
        line-height: 1.4;
        font-weight: normal;
      }
    &__label{
        border: 2px solid #3B69FF;
        border-radius: 50px;
        padding: 8px 32px;
        margin: 8px 32px;
      }
    &__text{
        line-height: 1.5;
    }
    &__arrow {
        position: absolute;
        right: 60px;
    }
    &__btn {
          padding: 40px;
          text-align: center;
          color: #3E3E3E;
       }
}

.service {
    padding: 0 120px;
    width: 100%;
    height: 400px;
    background-color: #3E3E3E;
    &__inner {
        position: relative;
    }
    &__ttl{
        font-size: 36px;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        line-height: 1.2;
        padding: 60px 0;
    }
    &__list{
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 150px;
        box-shadow: 0 2px 4px gray;
    }
    &__item {
        padding: 60px 45px;
        text-align: center;
        img {
            width: 64px;
            height: 64px;
        }
        &__ttl {
            padding: 8px 0 20px;
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            color: #3E3E3E;
            letter-spacing: 2px;
        }
        &__body {
            font-size: 14px;
            color: #3e3e3e;
            letter-spacing: 1.5px;
            line-height: 1.5;
        }
    }
}

.result {
    height: 500px;
}