@charset "UTF-8";
body {
  background-color: #F3F3F3;
  max-width: 1280px;
}

.util-ttl {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 600;
}

@media (min-width: 768px) {
  .util-ttl {
    font-size: 36px;
  }
}

@media (max-width: 767px) {
  .util-linkBox {
    text-align: center;
  }
}

.util-link {
  border: solid 1px #3e3e3e;
  color: #3e3e3e;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.2em;
  padding: .8em 0;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .2s, color .2s;
  transition: background-color .2s, color .2s;
}

.util-link.mod-light {
  border-color: #fff;
  color: #fff;
}

@media (min-width: 768px) {
  .util-link.mod-light:hover {
    background: #fff;
    color: #3e3e3e;
  }
  .util-link:hover {
    background: #3e3e3e;
    color: #fff;
  }
}

@media (max-width: 767px) {
  .util-link {
    font-size: 1.8rem;
    margin: 0 auto;
    max-width: 268px;
    padding-top: 13px;
    padding-bottom: 13px;
  }
}

.about {
  height: 648px;
  background-image: url(../img/mv-min.png);
  background-size: cover;
  position: relative;
}

.about__inner {
  width: 50%;
  height: 275px;
  position: absolute;
  top: 236px;
  left: 590px;
}

.about__text {
  padding-left: 50px;
}

.about__ttl {
  font-weight: bold;
  font-size: 32px;
  color: #3E3E3E;
  line-height: 1.5;
  padding-bottom: 40px;
}

.about__body {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5;
  color: #3E3E3E;
  padding-bottom: 40px;
}

.news {
  padding: 120px 40px;
}

.news__inner {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px gray;
}

.news__ttl {
  font-size: 36px;
  color: #3E3E3E;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  line-height: 1.2;
  padding: 60px 0;
}

.news__list {
  padding: 0 60px;
}

.news__item {
  display: flex;
  padding: 15px;
  position: relative;
  border-bottom: 1px solid #3e3e3e;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  color: #3E3E3E;
}

.news__item:first-child {
  border-top: 1px solid #3e3e3e;
}

.news__day {
  line-height: 1.4;
  font-weight: normal;
}

.news__label {
  border: 2px solid #3B69FF;
  border-radius: 50px;
  padding: 8px 32px;
  margin: 8px 32px;
}

.news__text {
  line-height: 1.5;
}

.news__arrow {
  position: absolute;
  right: 60px;
}

.news__btn {
  padding: 40px;
  text-align: center;
  color: #3E3E3E;
}

.service {
  padding: 0 120px;
  width: 100%;
  height: 400px;
  background-color: #3E3E3E;
}

.service__inner {
  position: relative;
}

.service__ttl {
  font-size: 36px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  line-height: 1.2;
  padding: 60px 0;
}

.service__list {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  top: 150px;
  box-shadow: 0 2px 4px gray;
}

.service__item {
  padding: 60px 45px;
  text-align: center;
}

.service__item img {
  width: 64px;
  height: 64px;
}

.service__item__ttl {
  padding: 8px 0 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #3E3E3E;
  letter-spacing: 2px;
}

.service__item__body {
  font-size: 14px;
  color: #3e3e3e;
  letter-spacing: 1.5px;
  line-height: 1.5;
}

.results {
  background: #3e3e3e;
  margin: 58px 0 0 0;
  max-width: calc(50vw + 600px);
  padding: 40px 0 40px 16px;
}

@media (min-width: 768px) {
  .results {
    margin: 215px 0 0 auto;
    padding: 58px 0 60px 60px;
  }
}

@media (max-width: 767px) {
  .results {
    padding-top: 36px;
    margin-top: 60px;
  }
}

.results .util-ttl {
  color: #fff;
}

@media (max-width: 767px) {
  .results .util-ttl {
    text-align: center;
    padding-right: 16px;
  }
}

.results .util-linkBox {
  margin: 40px 16px 0 0;
}

@media (min-width: 768px) {
  .results .util-linkBox {
    margin: 42px 0 0 0;
  }
}

@media (max-width: 767px) {
  .results .util-linkBox {
    margin: 24px 16px 0 0;
  }
}

@media (min-width: 768px) {
  .results .util-link {
    max-width: 290px;
  }
}

@media (max-width: 767px) {
  .results .util-link {
    width: 316px;
    max-width: 100%;
  }
}

.results-container {
  margin-top: 36px;
}

@media (min-width: 768px) {
  .results-container {
    margin-top: 54px;
  }
}

.results-pagination {
  position: static !important;
}

@media (min-width: 768px) {
  .results-pagination {
    margin: 44px 0 0 -5px;
    text-align: left;
  }
}

@media (max-width: 767px) {
  .results-pagination {
    margin-top: 30px;
  }
}

.results-pagination .swiper-pagination-bullet {
  background: #fff;
  height: 12px;
  margin: 0 10px !important;
  opacity: 1;
  position: relative;
  width: 12px;
}

.results-pagination .swiper-pagination-bullet:focus {
  outline: none;
}

.results-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:after {
  border: solid 1px #fff;
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
}

.results-itemLink {
  background: #fff;
  color: #3e3e3e;
  display: block;
}

@media (min-width: 768px) {
  .results-itemLink {
    transition: opacity .2s;
  }
  .results-itemLink:hover {
    opacity: .7;
  }
}

.results-itemLinkInner {
  padding: 12px 16px 20px;
}

@media (max-width: 767px) {
  .results-itemLinkInner {
    padding: 12px 12px 8px;
  }
}

.results-itemFig img {
  width: 100%;
}

.results-itemTtl {
  font-size: 20px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .results-itemTtl {
    font-size: 1.4rem;
  }
}

.results-itemTxt {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 6px;
}

@media (max-width: 767px) {
  .results-itemTxt {
    font-size: 1.2rem;
  }
}

.price {
  padding: 60px 160px;
}

.price__ttl {
  font-size: 36px;
  color: #3E3E3E;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  line-height: 1.2;
  padding: 60px 0;
}

.price table {
  width: 100%;
  border-collapse: collapse;
}

.price table th {
  width: 30%;
  padding: 30px;
  text-align: center;
  color: #fff;
  background-color: #3e3e3e;
  min-width: 300px;
  border: 1px solid #3e3e3e;
  border-bottom: 1px solid #fff;
  align-items: center;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}

.price table th:last-child {
  border-bottom: 1px solid #3e3e3e;
}

.price table td {
  width: 70%;
  padding: 30px;
  border: 1px solid #3e3e3e;
  font-weight: bold;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}

.price span {
  padding-top: 12px;
  font-size: 12px;
  letter-spacing: 2px;
}

.comments {
  position: relative;
}

.comments__inner {
  padding-left: 40px;
  padding-bottom: 120px;
}

.comments__ttl {
  font-size: 36px;
  color: #3E3E3E;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  line-height: 1.2;
  padding-bottom: 60px;
}

.comments__list__wrapper {
  align-items: center;
  display: flex;
  padding-top: 100px;
}

.comments__list {
  background-color: #fff;
  padding: 120px 40px 60px 60px;
  box-shadow: 0 2px 4px gray;
}

.comments__item {
  display: flex;
  align-items: center;
  padding-bottom: 60px;
}

.comments__item img {
  padding-right: 32px;
}

.comments__body {
  font-size: 16px;
  letter-spacing: -1px;
  line-height: 1.5;
  color: #3e3e3e;
}

.comments__img {
  width: 534px;
}

.comments__bg {
  position: absolute;
  background-color: #3e3e3e;
  bottom: 0;
  height: 500px;
  width: 960px;
  z-index: -999;
}

.qa {
  background-image: url(../img/qa-bg-min.png);
  background-size: cover;
  height: 925px;
  padding: 0 40px 120px 0;
  position: relative;
}

.qa__ttl {
  font-size: 36px;
  color: #3E3E3E;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  line-height: 1.2;
  padding: 60px 0;
}

.qa__list {
  width: 50%;
  position: absolute;
  right: 0;
  margin-right: 32px;
}

.qa__item {
  border-radius: 4px;
  padding: 16px;
  background-color: #fff;
  margin-bottom: 32px;
}

.qa__item__inner {
  align-items: center;
  display: flex;
  position: relative;
}

.qa__item span {
  background-color: #3B69FF;
  color: #fff;
  border-radius: 999px;
  padding: 3px 6px 3px 5px;
  margin-right: 16px;
  font-size: 1rem;
}

.qa__acd {
  position: absolute;
  right: 0;
}

.qa .acd__ans {
  padding: 16px;
  background: rgba(73, 115, 255, 0.2);
  border-radius: 4px;
  margin-top: 16px;
}

.access {
  position: relative;
  height: 760px;
}

.access__info {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 100px;
  background-color: #3E3E3E;
  width: 980px;
  color: #fff;
}

.access__ttl {
  font-weight: bold;
  font-size: 32px;
  color: #fff;
  line-height: 1.5;
  padding-top: 100px;
  padding-bottom: 40px;
}

.access__row {
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Droid Sans", sans-serif;
  line-height: 1.5;
}

.access__btn {
  margin-top: 32px;
  margin-bottom: 120px;
  padding: 20px 80px;
  font-weight: "Montserrat", sans-serif;
  font-size: 20px;
}

.access__map .iframe__wrap {
  position: absolute;
  bottom: 120px;
  right: 40px;
  max-width: 100%;
}

.contact-us {
  background-image: url(../img/contact-bg-min.png);
  background-size: cover;
  width: 100%;
  padding: 60px 120px;
}

.contact-us__wrap {
  background-image: url(../img/contact1-min.png);
  background-size: cover;
  text-align: center;
  padding: 60px 0;
}

.contact-us__head {
  font-size: 36px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
  padding-bottom: 16px;
}

.contact-us__head__txt {
  color: #fff;
  font-size: 1rem;
}

.contact-form {
  margin: auto 0;
  background-color: #fff;
  padding: 60px 120px;
  border-radius: 0 0 12px 12px;
}

.contact-form .contact-from__row {
  display: flex;
}

.contact-form .contact-from__row:nth-child(6) {
  display: block;
}

.contact-form .contact-from__row:not(:first-child) {
  margin-top: 32px;
}

.contact-form .contact-form__label {
  width: calc(100% - 188px);
  padding-top: 5px;
}

.contact-form .contact-form__label label {
  font-weight: bold;
}

.contact-form .contact-form__label label.is-required {
  display: inline-block;
  position: relative;
}

.contact-form .contact-form__label label.is-required::after {
  content: "必須";
  margin-left: 12px;
  font-size: 14px;
  background-color: #FF4646;
  color: #fff;
  border-radius: 2px;
  text-align: center;
  padding: 4px 16px;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
  border-bottom: 1px solid #c5cadb;
  padding-left: 12px;
  padding-bottom: 5px;
  width: 532px;
  height: 32px;
}

.contact-form select {
  border: 1px solid #707070;
  height: 40px;
  width: 178px;
}

.contact-form textarea {
  border: 1px solid #707070;
  margin-top: 8px;
  width: 100%;
  height: 200px;
}

.contact-form .contact-from__radio {
  margin-right: 40px;
}

.contact-form .contact-form__radio [type="radio"] {
  padding-right: 8px;
}

.contact-form .contact-form__check {
  margin-top: 41px;
  margin-bottom: 41px;
  font-size: 18px;
  font-weight: bold;
  color: #3E3E3E;
}

.contact-form .contact-form__check [type="checkbox"] {
  margin-right: 20px;
  width: 20px;
  height: 20px;
}

/* トップに戻るボタン */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #f0f0f0;
  opacity: 0.6;
  font-size: 1.6rem;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}

/* マウスを乗せた時に透明度を変える */
.back-to-top:hover {
  opacity: 1;
}
